body{
    background-color: #dbdbdbf7;
}


.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 795px;
}

#facebook-logo img{
    height: 280px;
    display: block;
    margin-left:-1500px;
}

#unico{
    margin-top: 105px;
}

#block{
    display: block;
    margin-left: 59px;
    margin-top: 85px;
}

form{
    background-color:#fafafa;
    width: 1289px;
    height: 1000px;
    border-radius: 15px;
    margin-left: 155px;
}

form input{
    padding: 15px;
    font-size: 85px;
    border-radius: 15px;
    border: 1px solid #dbdbdbf7;
    width: 1000px;
    margin-left: 105px;
    margin-top: 100px;
}


form [type=submit]{
    background-color: blue;
    color: #fff;
    font-weight: bold;
    border-radius: 1px solid blue;
    margin-left: 59px;
    margin-top: 85px;
}

.link a,input{
    display: block;
}

#green{
    background-color: green;
}

#a{
    margin-left: 420px;
    position: relative;
    top: 45px;
    font-size: 45px;
    text-decoration: none;
    color: blue;
}

.bold{
    font-weight: bold;
}

#boldd{
    position: relative;
    top: 600px;
    left: -1200px;
    text-decoration: none;
    font-size:35px ;
}

.container-big{
    font-size: 55px;
    background-color: #fff;
    position: relative;
    bottom: -550px;
}

.container-big a{
    color:#000 ;
    text-decoration: none;
    display: flex;
    height:500px;
}

.container-big li{
    margin-left: 500px;
    margin-top: 100px;
}


.container-big ul{
    margin-left: 500px;
}