label{
    display: flex;
    padding: 15px;
}

h1{
    font-family:Georgia;
    color: #878484ee;
    position: relative;
    text-align: center;
    top: 15px;
}

p{
    font-family: serif;
    position: relative;
    left: 55px;
    color: #878484ee;
}

body{
    background-color: #cccc;
}

.container{
    background-color: #fff;
    width: 805px;
    height: 700px;
    position: relative;
    left: 200px;
}

.container-form{
    position: relative;
    left: 85px;
}

input{
    border-bottom: 2px solid #eeee;
    border-top: none;
    border-left: none;
    border-right: none;
}

.submit{
    padding: 25px;
    position: relative;
    top:45px;
    left: 250px;
    font-size: 35px;
    color: #878484ee;
}

.submit:hover{
    background-color: #cccc;
    cursor: pointer;
}